.reviewContainer {
}

.reviewTitle {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}

.reviewWrapper {
  width: 1000px;
  margin: auto;
  padding: 5em;
  background: #221f1f;
  border-radius: 30px;
  opacity: 0.8;
}

.countContainer {
  display: flex;
  justify-content: flex-end;
}

.viewCount {
  display: flex;
  margin-right: 10px;
}

.likeCount {
  display: flex;
}

.titleContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.reviewSubTitle {
  font-size: 40px;
}

.reviewLikebtn {
  width: 20px;
  height: 20px;
  background-image: url(https://ifh.cc/g/HoQs7f.png);
}

.reviewLikebtn:hover {
  background-image: url(https://ifh.cc/g/F9ZscL.png);
}

.reviewText {
  margin-top: 15px;
  font-size: 20px;
  margin-top: 15px;
}

.reviewCreatedAt {
  float: right;
  margin-top: 50px;
}
